<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>ログインページ</h1>
  <p th:text="#{userName}"></p>
  <form action="/login" method="post">
    <div>
      <input type="text" name="userId"><br>
    </div>
    <div>
      <p th:text="#{password}"></p>
      <input type="text" name="password"><br>
    </div>
    <input type="submit" value="ログイン">
  </form>
  <p><a th:href="@{/signup}">ユーザー登録</a></p>
</body>
</html>